:root {
  --grid: 10px;
}

.lists {
  display: flex;
  width: 100%;
  height: 70vh;
  overflow-x: auto;
  white-space: nowrap;
  align-items: self-end;
}

.list {
  min-width: calc(var(--grid) * 25);
  overflow-y: auto;
  max-height: 55vh;
  margin: 1em;
  border-radius: 15px;
  padding: var(--grid);
  border: 10px solid lightgray;
}

.todo-item {
  display: flex;
  user-select: none;
  justify-content: space-around;
  align-items: center;
  padding: calc(var(--grid) * 2);
  margin: 0 0 var(--grid) 0;
  border-radius: 15px;
}

.todo-item button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.todo-list-title {
  display: flex;
  margin: 2% 5% 7% 5%;
}

.todo-list-title-center {
  display: inline-block;
  flex:1;
  display:flex;
  justify-content: center;
}

.todo-list-title-right {
  display: inline-block;
  flex:1;
  display:flex;
  justify-content:flex-end;
}

.todo-list-title button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.new-item {
  margin-top: 7%;
  text-align: center;
}

.new-item button {
  background-color: transparent;
  background-repeat:no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.new-list {
    margin: 0 auto 0 auto;
    width: 100px;
    height: 100px;
    padding-top: 1em;
    
}

.new-list button {
  background-color: black;
  border: none;
  color: white;
  width: 8em;
  height: 4em;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 15px;
  outline: none;
  cursor: pointer;

}

.task-name {
  margin: 0 0.5em 0 0.5em;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  text-align: center;
}

.modal-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}


 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bababa; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #adadad; 
}

.alt-item-btn {
  height: 40px;
  width: 68px;
  font-size: 15px;
  background-color: #b89021;
}

.alt-item-btn:hover {
  background-color: #967b1b;
}

.status-btn {
  margin-right: 5px;
  height: 26px;
}

.home-header-btns {
  text-align: left;
  margin-left: 5em;
}

.home-header-btns > :first-child{
  margin-right: 1em;
}

.home-header-btns button {
  white-space: 'pre-wrap';
  vertical-align: top;
  width: 120px;
  height: 60px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  background-color: #696969;
  color: white
}

.home-header-btns button:hover {
  background-color: #505050;
}

.container-manage {
  text-align: -webkit-center;
  padding-left: 80px;
  padding-top: 2em;
  height: 88.4vh;
  overflow: overlay;
}

.custom-file-upload {
  border-radius: 50%;
  display: inline-block;
  position: relative;
  padding: 6px;
  cursor: pointer;
  background: linear-gradient(270deg, #0066cc, #00b4cc);
  margin-bottom: 25px;
}

.img-wrap{
  display: flex;
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  justify-content: space-around;
}

input[type="file"] {
  display: none;
}

.img-preview {
  height: 128px;
  border-radius: 100%;
}

img {
  width: auto;
  height: 100%;
}

.align-photo {
  display: inline-grid;
}

.input-manage {
  align-self: center;
  width: 70%;
}

.circular-button-add {
  background-color: #0066cc;
  cursor: pointer;
  align-self: center;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 10px;
  font-size: 16px;
  background-image: url("../../assets/plus.svg");
}

.circular-button-del {
  background-color: red;
  cursor: pointer;
  align-self: center;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 15px;
  margin-top: 5px;
  text-align: center;
  text-decoration: none;
  width: 10px;
  background-image: url("../../assets/minus.svg");
}

.option-div {
  display: flex;
  align-self: center;
}

.option-fields {
  justify-items: center;
  display: inline-grid;
  margin-bottom: 10px;
}

.option-fields input {
  width: 90%;
}

.loader {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(400%);
  z-index: 99999;
}

.form-error {
  color: #F42B4B;
}

.description-item {
  color: #404040;
}

.table-striped {
  border: none;
  width: 95%;
  margin: 5em 0em 2em 0em;
}

.row-item {
  height: 3em;
  vertical-align: top;
}

.row-item td {
  padding: 10px;
}

.row-item:hover {
  background-color: #C8C8C8;
}

.btn-table-item {
  white-space: nowrap;
  padding-top: 2.4em;
}

.btn-table-item:first-child {
  margin-right: 8px;
}

.btn {
  cursor: pointer;
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-weight: bold;
  align-self: center;
  width: max-content;
}

.btn:focus {
  outline: none !important;
}

.add-item-btn {
  margin-top: 16px;
  height: 40px;
  width: 200px;
  font-size: 15px;
  background-color: #3399ff;
}

.add-item-btn:hover {
  background-color: #0066cc;
}

.del-item-btn {
  height: 40px;
  width: 68px;
  font-size: 15px;
  background-color: #ff3333;
}

.del-item-btn:hover {
  background-color: #cc0000;
}

.edit-item-btn {
  height: 40px;
  width: 68px;
  font-size: 15px;
  background-color: #35b821;
}

.edit-item-btn:hover {
  background-color: #2b961b;
}

.search-item {
  margin-right: 12px;
  width: 40%;
}
 
.search-item input {
  display: inline-flex;
  width: -webkit-fill-available;
}

.item-menu {
  display: flex;
  justify-content: center;
}

.row {
  padding-left: 100px;
  text-align: -webkit-center;
  display: flex;
  flex-wrap: wrap;
}

.column {
  height: fit-content;
  padding: 5px;
  width: 30%;
  min-height: 10%;
}

.column p h1 {
  display: inline;
}

.column img {
  width: 33%;
}

.search-div {
  margin: 20px 0 0 0;
}

.search-input {
  align-self: center;
  width: 40%;
  height: 30px;
  
}

.search-btn {
  margin-left: 10px;
  height: 34px;
  width: 60px;
  background-color: #3399ff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  vertical-align: top;
}

.search-btn:hover {
  background-color: #0066cc;
}

.search-btn:focus {
  outline: none !important;
}