.settings-selector {
  background-color: #0066cc;
  color: white;
  padding: 0px 10px;
  width: 16em;
  height: 4em;
  justify-content: space-around;
  
  border-radius: 12px;
  align-items: center;
  cursor: pointer;
}

.settings-selector div:first-child {
  width: 50%;
  border-right: solid black;
  height: -webkit-fill-available;
}

.settings-panel {
  width: 80%;
  margin: 5em 0em 2em 0em;
}

.settings-btns {
  width: 90%;
  align-items: center;
  display: inline-flex;
}

.align-end-btns {
  margin-inline-start: auto;
}

.reset-btn {
  height: 40px;
  width: 68px;
  font-size: 15px;
  background-color: #ebbc21;
  color: white;
}

.reset-btn:hover {
  background-color: #b89218;
}

.delete-store {
  cursor: pointer;
  color: #ff3333;
  text-decoration: underline;
}

.delete-store:hover {
  color: #cc0000;
}

.btn-group button {
  background-color: #3399ff;
  border-left: 10px solid black;
  border-top: none;
  border-bottom: none;
  border-right: none;
  font-weight: bold;
  font-size: 24px;
  color: white;
  padding: 10px 24px;
  cursor: pointer;
}

.btn-group button:hover {
  background-color: #0066cc;
}

.btn-group button:last-child {
  border-radius: 0 10px 10px 0;
}

.btn-group button:first-child {
  border-radius: 10px 0 0 10px;
  border-left: none;
}
